# ---------------------
# Python
# ---------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/

# ---------------------
# Project generated data
# ---------------------
data/
output/
emotion_analysis_results.csv

# Temporary or runtime artifacts
*.dll
*.avi
*.mp4
*.jpg
*.png
*.csv

# Machine learning model cache
models/*.h5
models/*.pt
models/*.onnx
models/*.pickle
models/*.joblib

# ---------------------
# IDE / editor configs
# ---------------------
.vscode/
.idea/
